body {
  font-family: 'Barlow Condensed', sans-serif;
  cursor: default;
}

/* START Bootstrap Navbar + media query */

header .nav-link {
  margin-left: 40px;
}

header nav a {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 2em;
}

header .navbar-brand {
  font-size: 2em;
}

@media only screen and (max-width: 576px) {
  header .navbar-nav {
    display: flex;
    margin: 0 auto;
  }

  header .nav-item {
    display: flex;
    margin: 0 auto;
  }

  header .navbar-brand {
    display: flex;
  }
}
/* END Bootstrap Navbar + media query */

/* START welcome banner */
#welcome-section {
  display: flex;
  height: 50vh;
  justify-content: flex-end; /* vertical location in banner */
  align-items: flex-end; /* horizontal location in banner */
  background-image: url("/Media/tim-2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  font-family: 'Barlow Condensed', sans-serif;
  flex-direction: column;
}

.welcome-text {
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  text-align: right; /* text alignment like using Microsoft Word */
  font-size: 2em;
  color: #ffffff;
}

@media only screen and (max-width: 681px) {
  #welcome-section {
    display: flex;
    height: 50vh;
    justify-content: flex-end;
    align-items: center;
    background-image: url("/Media/tim-2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
    font-family: 'Barlow Condensed', sans-serif;
    flex-direction: column;
  }

  .welcome-text {
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    text-align: center; /* text alignment like using Microsoft Word */
    font-size: 2em;
    color: #ffffff;
  }
}
/* END welcome banner */

/* START Projects */
#projects {
  display: flex;
  justify-content: center;
  margin-top: 1em;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.projects-grid {
  display: grid;
  flex-wrap: wrap;
  align-items: space-evenly;
  justify-content: center;
  grid-template-columns: repeat(3, 200px);
  grid-gap: 50px;
}

.project-tile img {
  height: 200px;
  width: 200px;
}

@media only screen and (max-width: 750px) {
  .projects-grid {
    display: grid;
    flex-direction: column;
    align-items: space-evenly;
    justify-content: center;
    grid-template-columns: repeat(2, 200px);
    margin-bottom: 25px;
    padding-bottom: 10px;
  }
}

/* END Projects */

/* Contact section */
footer {
  margin-top: 100px
}

#contact-links {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  padding: 10px;
}

/* END Contact section */